# **Problem Statement**

We are working as a data analyst in a company called Fast Cars. Fast Cars is a cab agglomerator like Uber and Ola i.e. it connects passengers to cabs in cities for travel through an app.

As a data analyst you are provided with a Yellow Taxi dataset which contains information about taxis that people took in New York city from streets.

You are asked to analyse this data to provide insights about the taxi market of new york before pandemic.

Do on the data.

You can find the data and the relevant information about Yellow Taxi dataset here - https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page

# **Data identification and collection**

We will be focussing on 2020 feb month of data for analysis.

viz. 2020 feb.

The data is collected from the above website mentioned

In [3]:
#mount the drive

# **Data Cleaning and Manipulation**

The first stage in any EDA problem solving strategy is Data cleaning and Manipulation stage.

**Data Cleaning and Manipulation Steps**

> Data Understanding

- Reading Dataset documentation
- Importing data - understanding each column data
- Data Summarisation like Check data type of columns, number of rows etc.

> Data Cleaning

- Dropping irrelevant columns
- Renaming the columns
- Dropping the duplicate rows
- Dropping or handling missing values
- Dropping invalid data rows (Also check if column have correct data type)
- Detecting and handling outliers (this can be handled in data analysis part as well)


> Data Manipulation

- Column transformation
- Joining datasets
- other manipulation like pivoting or transposing (this is also applied in  data analysis part)

## Data Understanding

### Reading data documentation

In the website - https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page

there is data about yellow taxis in csv format categorised by each year and month.

There is data dictionary pdf as well mentioned in the website called `Yellow Trips Data Dictionary`

By looking at data_description file we find that following columns would be useful for our analysis:(you can find the data description file here - https://drive.google.com/file/d/1B6JUAqGNmaMfyc6TQqxRWrvOVI1DtgQf/view?usp=sharing)<br>
* tpep_pickup_datetime - The date and time when the meter was engaged.
* tpep_dropoff_datetime - The date and time when the meter was disengaged.
* Passenger_count - The number of passengers in the vehicle.
* Trip_distance - The elapsed trip distance in miles reported by the taximeter.
* PULocationID - TLC Taxi Zone in which the taximeter was engaged
* DOLocationID - TLC Taxi Zone in which the taximeter was disengaged
* Payment_type - A numeric code signifying how the passenger paid for the trip.
* Fare_amount - The time-and-distance fare calculated by the meter.
* Extra - Miscellaneous extras and surcharges. Currently, this only includes the $0.50 and $1 rush hour and overnight charges.
* MTA_tax - \\$ 0.50 MTA tax that is automatically triggered based on the metered rate in use.
* Improvement_surcharge - \\$0.30 improvement surcharge assessed trips at the flag drop. The improvement surcharge began being levied in 2015.
* congestion_surcharge - fees on congestion
* Tip_amount - This field is automatically populated for credit card tips. Cash tips are not included.
* Tolls_amount - Total amount of all tolls paid in trip.
* Total_amount -  The total amount charged to passengers. Does not include cash tips.

And we will drop the following columns:<br>
* VendorID
* RateCodeID
* Store_and_fwd_flag

For more details about each column value or the data available please look at the file attached to the link of `Trip Record User Guide`

We also have `taxi+_zone_lookup.csv` file where the zone ID mentioned in the columns `PULocationID` and `DOLocationID` are mapped to their respective locations.

### Importing the data

In [3]:
# import important libraries - matplotlib, seaborn and pandas
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [11]:

# read file
trip_data = pd.read_parquet('/content/drive/MyDrive/Dataset_folder/yellow_tripdata_2020-02.parquet')
trip_data.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
6299362,2,2020-02-29 23:24:00,2020-02-29 23:55:00,NaN,10.59,NaN,None,225,205,0,48.85,2.75,0.5,0.0,0.00,0.3,52.40,NaN,None
6299363,6,2020-02-29 23:02:01,2020-02-29 23:02:25,NaN,5.88,NaN,None,265,226,0,26.65,2.33,0.5,0.0,0.00,0.3,32.28,NaN,None
6299364,2,2020-02-29 23:35:00,2020-02-29 23:58:00,NaN,4.46,NaN,None,45,80,0,24.70,2.75,0.5,0.0,0.00,0.3,28.25,NaN,None
6299365,2,2020-02-29 23:42:00,2020-03-01 00:11:00,NaN,15.73,NaN,None,235,197,0,53.03,2.75,0.5,0.0,6.12,0.3,62.70,NaN,None
6299366,6,2020-02-29 23:02:13,2020-03-01 00:03:24,NaN,11.34,NaN,None,265,116,0,37.62,3.29,0.5,0.0,0.00,0.3,44.21,NaN,None

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
# taxi zone lookup file
file_loc_2 = '/content/drive/MyDrive/Dataset_folder/taxi+_zone_lookup.csv'

#zone look up file
taxi_zone_data = pd.read_csv(file_loc_2)
taxi_zone_data.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

### Data Summarisation

In [13]:
trip_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,1.0,N,145,7,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75,0.0,None
1,1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,1.0,N,45,61,1,21.5,3.0,0.5,6.30,0.0,0.3,31.60,2.5,None
2,1,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,1.0,N,186,140,1,11.0,3.0,0.5,1.00,0.0,0.3,15.80,2.5,None
3,2,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,1.0,N,144,140,1,18.0,0.5,0.5,3.00,0.0,0.3,24.80,2.5,None
4,2,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,1.0,N,238,152,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0,None

In [14]:
trip_data.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
6299362,2,2020-02-29 23:24:00,2020-02-29 23:55:00,NaN,10.59,NaN,None,225,205,0,48.85,2.75,0.5,0.0,0.00,0.3,52.40,NaN,None
6299363,6,2020-02-29 23:02:01,2020-02-29 23:02:25,NaN,5.88,NaN,None,265,226,0,26.65,2.33,0.5,0.0,0.00,0.3,32.28,NaN,None
6299364,2,2020-02-29 23:35:00,2020-02-29 23:58:00,NaN,4.46,NaN,None,45,80,0,24.70,2.75,0.5,0.0,0.00,0.3,28.25,NaN,None
6299365,2,2020-02-29 23:42:00,2020-03-01 00:11:00,NaN,15.73,NaN,None,235,197,0,53.03,2.75,0.5,0.0,6.12,0.3,62.70,NaN,None
6299366,6,2020-02-29 23:02:13,2020-03-01 00:03:24,NaN,11.34,NaN,None,265,116,0,37.62,3.29,0.5,0.0,0.00,0.3,44.21,NaN,None

In [15]:
print(trip_data.shape)

(6299367, 19)

In [16]:
trip_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6299367 entries, 0 to 6299366
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: datetime64[ns](2), float64(11), int64(4), object(2)
memory usage: 913.1+ MB

## Data Cleaning and Manipulation Steps (Reading Assignment)

We have done all the data cleaning and manipulation steps below though we have not followed the exact cleaning steps methodically as mentioned at the start.

These are the cleaning that we have done
* Dropped 3 columns `'VendorID','RatecodeID','store_and_fwd_flag'`
* converted pickup and dropoff column data type to datetime
* Extracted trip day from the pickup datetime column
* Extracted pickup hour and dropoff hour also from the above datetime columns
* calculated duration value from it
* checked for missing values
* converted payment type value from integer to string (based on mapping given in data dictionary file)
* combined the three tax values (mta_tax , extra, improvement_surcharge) into one single value called total_taxes.

In [17]:
# remove following columns - 'VendorID','RatecodeID','store_and_fwd_flag'
trip_data.drop(['VendorID','RatecodeID','store_and_fwd_flag','congestion_surcharge','airport_fee'],axis=1,inplace=True)
# print data head
trip_data.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,145,7,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,45,61,1,21.5,3.0,0.5,6.30,0.0,0.3,31.60
2,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,186,140,1,11.0,3.0,0.5,1.00,0.0,0.3,15.80
3,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,144,140,1,18.0,0.5,0.5,3.00,0.0,0.3,24.80
4,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,238,152,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80

We will now deal with time related columns, we have two time related columns
* tpep_pickup_datetime
* tpep_dropoff_datetime

We will first convert these column to datatime data type of pandas.

we will create three different features from these
* hour - pickup hour and dropoff hour
* day name - this is basically the day of the week when trip took place - we will only take day name from pickup date.
( as day name for drop date is supposed to be same as pickup date)
* duration of trip

In [18]:
# convert 'tpep_pickup_datetime' and 'tpep_dropoff_datetime' to datetime format
trip_data['tpep_pickup_datetime'] = pd.to_datetime(trip_data['tpep_pickup_datetime'])
trip_data['tpep_dropoff_datetime'] = pd.to_datetime(trip_data['tpep_dropoff_datetime'])
# print data info
print(trip_data.info())
# print data head
trip_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6299367 entries, 0 to 6299366
Data columns (total 14 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        float64
 3   trip_distance          float64
 4   PULocationID           int64
 5   DOLocationID           int64
 6   payment_type           int64
 7   fare_amount            float64
 8   extra                  float64
 9   mta_tax                float64
 10  tip_amount             float64
 11  tolls_amount           float64
 12  improvement_surcharge  float64
 13  total_amount           float64
dtypes: datetime64[ns](2), float64(9), int64(3)
memory usage: 672.8 MB
None

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,145,7,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,45,61,1,21.5,3.0,0.5,6.30,0.0,0.3,31.60
2,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,186,140,1,11.0,3.0,0.5,1.00,0.0,0.3,15.80
3,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,144,140,1,18.0,0.5,0.5,3.00,0.0,0.3,24.80
4,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,238,152,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80

In [19]:
# create 'duration' column using pd.Timedelta(minutes=1)
trip_data['duration'] = (trip_data['tpep_dropoff_datetime'] - trip_data['tpep_pickup_datetime'])/ pd.Timedelta(minutes=1)
# create 'trip_pickup_hour' column using 'tpep_pickup_datetime' column
trip_data['trip_pickup_hour'] = trip_data['tpep_pickup_datetime'].dt.hour
# create 'trip_dropoff_hour' column using 'tpep_dropoff_datetime' column
trip_data['trip_dropoff_hour'] = trip_data['tpep_dropoff_datetime'].dt.hour
# create 'trip_day' column using 'tpep_pickup_datetime' column - use day_name()
trip_data['trip_day'] = trip_data['tpep_pickup_datetime'].dt.day_name()
#create 'trip_date column using tpep_pickup_datetime' column -use date
trip_data['trip_date']=trip_data['tpep_pickup_datetime'].dt.date
# print data info
print(trip_data.info())
# print data head
trip_data.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6299367 entries, 0 to 6299366
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        float64
 3   trip_distance          float64
 4   PULocationID           int64
 5   DOLocationID           int64
 6   payment_type           int64
 7   fare_amount            float64
 8   extra                  float64
 9   mta_tax                float64
 10  tip_amount             float64
 11  tolls_amount           float64
 12  improvement_surcharge  float64
 13  total_amount           float64
 14  duration               float64
 15  trip_pickup_hour       int64
 16  trip_dropoff_hour      int64
 17  trip_day               object
 18  trip_date              object
dtypes: datetime64[ns](2), float64(10), int64(5), object(2)
memory usage: 913.1+ MB
None

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration,trip_pickup_hour,trip_dropoff_hour,trip_day,trip_date
0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,145,7,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75,12.950000,0,0,Saturday,2020-02-01
1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,45,61,1,21.5,3.0,0.5,6.30,0.0,0.3,31.60,32.816667,0,1,Saturday,2020-02-01
2,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,186,140,1,11.0,3.0,0.5,1.00,0.0,0.3,15.80,11.733333,0,0,Saturday,2020-02-01
3,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,144,140,1,18.0,0.5,0.5,3.00,0.0,0.3,24.80,24.066667,0,0,Saturday,2020-02-01
4,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,238,152,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,9.766667,0,1,Saturday,2020-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020-02-01 00:54:28,2020-02-01 01:04:11,5.0,1.25,158,125,1,8.0,0.5,0.5,2.36,0.0,0.3,14.16,9.716667,0,1,Saturday,2020-02-01
96,2020-02-01 00:05:13,2020-02-01 00:26:29,2.0,5.40,231,239,1,19.5,3.0,0.5,4.65,0.0,0.3,27.95,21.266667,0,0,Saturday,2020-02-01
97,2020-02-01 00:47:54,2020-02-01 00:52:20,2.0,1.10,158,231,1,5.5,3.0,0.5,1.85,0.0,0.3,11.15,4.433333,0,0,Saturday,2020-02-01
98,2020-02-01 00:54:04,2020-02-01 01:11:00,2.0,4.60,231,142,1,16.0,3.0,0.5,2.00,0.0,0.3,21.80,16.933333,0,1,Saturday,2020-02-01
99,2020-02-01 00:16:58,2020-02-01 00:38:37,1.0,11.20,138,231,1,32.5,3.0,0.5,3.00,0.0,0.3,39.30,21.650000,0,0,Saturday,2020-02-01

Let's also see the number of missing values for each column

In [20]:
# print missing values for each column - use .isnull().sum
trip_data.isnull().sum(axis=0).reset_index()

                    index      0
0    tpep_pickup_datetime      0
1   tpep_dropoff_datetime      0
2         passenger_count  48834
3           trip_distance      0
4            PULocationID      0
5            DOLocationID      0
6            payment_type      0
7             fare_amount      0
8                   extra      0
9                 mta_tax      0
10             tip_amount      0
11           tolls_amount      0
12  improvement_surcharge      0
13           total_amount      0
14               duration      0
15       trip_pickup_hour      0
16      trip_dropoff_hour      0
17               trip_day      0
18              trip_date      0

In [21]:
passengercount_missing=(trip_data['passenger_count'].isnull().sum()/trip_data.shape[0])*100
passengercount_missing

0.7752207483704315

From the above code it clearly shows that 0.77% of passenger count is missing.<br>

In [23]:
#calculate avg passenger_count for every date
passenger_count_avg=round(trip_data.groupby('trip_date')['passenger_count'].mean()).reset_index()
passenger_count_avg

     trip_date  passenger_count
0   2008-12-31              1.0
1   2009-01-01              1.0
2   2020-01-30              1.0
3   2020-01-31              2.0
4   2020-02-01              2.0
5   2020-02-02              2.0
6   2020-02-03              1.0
7   2020-02-04              1.0
8   2020-02-05              1.0
9   2020-02-06              1.0
10  2020-02-07              1.0
11  2020-02-08              2.0
12  2020-02-09              2.0
13  2020-02-10              1.0
14  2020-02-11              1.0
15  2020-02-12              1.0
16  2020-02-13              1.0
17  2020-02-14              2.0
18  2020-02-15              2.0
19  2020-02-16              2.0
20  2020-02-17              2.0
21  2020-02-18              1.0
22  2020-02-19              1.0
23  2020-02-20              1.0
24  2020-02-21              2.0
25  2020-02-22              2.0
26  2020-02-23              2.0
27  2020-02-24              1.0
28  2020-02-25              1.0
29  2020-02-26              1.0
30  2020-02-27              1.0
31  2020-02-28              1.0
32  2020-02-29              2.0
33  2020-03-01              2.0
34  2020-03-05              3.0
35  2020-03-18              2.0
36  2020-03-21              3.0
37  2020-03-26              4.0
38  2020-04-11              3.0
39  2020-04-17              3.0
40  2020-05-03              3.0
41  2020-05-08              4.0
42  2020-05-29              3.0
43  2020-07-11              4.0

In [24]:
#replace nulll value of passenger count with mean value of passenger count of that day
trip_data['passenger_count']= trip_data.groupby('trip_date')['passenger_count'].apply(lambda x: x.fillna(round(x.mean())))

<ipython-input-24-e079d51ae44a>:2: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  trip_data['passenger_count']= trip_data.groupby('trip_date')['passenger_count'].apply(lambda x: x.fillna(round(x.mean())))

In [25]:
trip_data.tail()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration,trip_pickup_hour,trip_dropoff_hour,trip_day,trip_date
6299362,2020-02-29 23:24:00,2020-02-29 23:55:00,2.0,10.59,225,205,0,48.85,2.75,0.5,0.0,0.00,0.3,52.40,31.000000,23,23,Saturday,2020-02-29
6299363,2020-02-29 23:02:01,2020-02-29 23:02:25,2.0,5.88,265,226,0,26.65,2.33,0.5,0.0,0.00,0.3,32.28,0.400000,23,23,Saturday,2020-02-29
6299364,2020-02-29 23:35:00,2020-02-29 23:58:00,2.0,4.46,45,80,0,24.70,2.75,0.5,0.0,0.00,0.3,28.25,23.000000,23,23,Saturday,2020-02-29
6299365,2020-02-29 23:42:00,2020-03-01 00:11:00,2.0,15.73,235,197,0,53.03,2.75,0.5,0.0,6.12,0.3,62.70,29.000000,23,0,Saturday,2020-02-29
6299366,2020-02-29 23:02:13,2020-03-01 00:03:24,2.0,11.34,265,116,0,37.62,3.29,0.5,0.0,0.00,0.3,44.21,61.183333,23,0,Saturday,2020-02-29

For payment_type we have the following mapping for categories:<br>
1= Credit card
2= Cash
3= No charge
4= Dispute
5= Unknown
6= Voided trip

let's just check if we have only these categories available in payment_type or not

In [26]:
# value_counts for 'payment_type' column
trip_data['payment_type'].value_counts()

1    4705735
2    1494468
0      48834
3      32081
4      18249
Name: payment_type, dtype: int64

Now we will replace these number in payment category with actual category names.

In [27]:
trip_data.isnull().sum(axis=0)

tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
duration                 0
trip_pickup_hour         0
trip_dropoff_hour        0
trip_day                 0
trip_date                0
dtype: int64

In [28]:
# function for mapping numerical payment_type to actual payment
def map_payment_type(x):
    if x==1:
        return 'Credit_card'
    elif x==2:
        return 'Cash'
    elif x==3:
        return 'No_charge'
    elif x==4:
        return 'Dispute'
    elif x==5:
        return 'Unknown'
    else:
        return 'Voided_trip'

# use .apply and lambda on payment_type column to change 'payment_type' column
trip_data['payment_type'] = trip_data.payment_type.apply(lambda x:map_payment_type(x))
# print data head
trip_data.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration,trip_pickup_hour,trip_dropoff_hour,trip_day,trip_date
0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,145,7,Credit_card,11.0,0.5,0.5,2.45,0.0,0.3,14.75,12.950000,0,0,Saturday,2020-02-01
1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,45,61,Credit_card,21.5,3.0,0.5,6.30,0.0,0.3,31.60,32.816667,0,1,Saturday,2020-02-01
2,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,186,140,Credit_card,11.0,3.0,0.5,1.00,0.0,0.3,15.80,11.733333,0,0,Saturday,2020-02-01
3,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,144,140,Credit_card,18.0,0.5,0.5,3.00,0.0,0.3,24.80,24.066667,0,0,Saturday,2020-02-01
4,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,238,152,Cash,9.5,0.5,0.5,0.00,0.0,0.3,10.80,9.766667,0,1,Saturday,2020-02-01

In [29]:
# print data info to show that payment_type data type has changed
trip_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6299367 entries, 0 to 6299366
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   tpep_dropoff_datetime  datetime64[ns]
 2   passenger_count        float64
 3   trip_distance          float64
 4   PULocationID           int64
 5   DOLocationID           int64
 6   payment_type           object
 7   fare_amount            float64
 8   extra                  float64
 9   mta_tax                float64
 10  tip_amount             float64
 11  tolls_amount           float64
 12  improvement_surcharge  float64
 13  total_amount           float64
 14  duration               float64
 15  trip_pickup_hour       int64
 16  trip_dropoff_hour      int64
 17  trip_day               object
 18  trip_date              object
dtypes: datetime64[ns](2), float64(10), int64(4), object(3)
memory usage: 913.1+ MB

Now our Total_amount is basically<br>
Total_amount = fare_amount + tolls_amount + tip_amount + (extra + mta_tax + improvement_surcharge)

of the above components of total_amount we will specifically focus on 'fare_amount','tip_amount', 'tolls_amount' and 'total taxes'.

We are combining the extra, mta_tax and improvement_surcharge under one category called total_taxes as these are determined by local laws and taxes and is not dependent upon distance travelled or time taken for trip.

Here total taxes would be the sum of three columns 'extra','mta_tax', 'improvement_surcharge'. So we will make a new column for total_taxes.

We will also drop these three columns 'extra','mta_tax','improvement_surcharge'.

In [30]:
# create 'total_taxes' column from summing 'extra','mta_tax', 'improvement_surcharge'
trip_data['total_taxes'] = trip_data['extra']+trip_data['mta_tax']+trip_data['improvement_surcharge']
# drop 'extra','mta_tax','improvement_surcharge' columns
trip_data.drop(['extra','mta_tax','improvement_surcharge'],axis=1,inplace=True)
# print data head
trip_data.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,tip_amount,tolls_amount,total_amount,duration,trip_pickup_hour,trip_dropoff_hour,trip_day,trip_date,total_taxes
0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,145,7,Credit_card,11.0,2.45,0.0,14.75,12.950000,0,0,Saturday,2020-02-01,1.3
1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,45,61,Credit_card,21.5,6.30,0.0,31.60,32.816667,0,1,Saturday,2020-02-01,3.8
2,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,186,140,Credit_card,11.0,1.00,0.0,15.80,11.733333,0,0,Saturday,2020-02-01,3.8
3,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,144,140,Credit_card,18.0,3.00,0.0,24.80,24.066667,0,0,Saturday,2020-02-01,1.3
4,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,238,152,Cash,9.5,0.00,0.0,10.80,9.766667,0,1,Saturday,2020-02-01,1.3

In [31]:
trip_data.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,tip_amount,tolls_amount,total_amount,duration,trip_pickup_hour,trip_dropoff_hour,trip_day,trip_date,total_taxes
0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,145,7,Credit_card,11.0,2.45,0.0,14.75,12.950000,0,0,Saturday,2020-02-01,1.3
1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,45,61,Credit_card,21.5,6.30,0.0,31.60,32.816667,0,1,Saturday,2020-02-01,3.8
2,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,186,140,Credit_card,11.0,1.00,0.0,15.80,11.733333,0,0,Saturday,2020-02-01,3.8
3,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,144,140,Credit_card,18.0,3.00,0.0,24.80,24.066667,0,0,Saturday,2020-02-01,1.3
4,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,238,152,Cash,9.5,0.00,0.0,10.80,9.766667,0,1,Saturday,2020-02-01,1.3

In [39]:
trip_data.to_csv('/content/drive/MyDrive/taxi_data/yellow_tripdata_2020-02_cleaned.csv',index=False)

We will be reading back this file in data analysis and visualisation step.